@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  scroll-behavior: smooth;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

.menu {
  display: none;
}

body {
  font-family: sans-serif;
}
body .header-top {
  background: rgb(60, 58, 58);
  color: white;
}
body .header-top .header-top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
body .header-bot-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .header-bot-box .header-bot-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
body .header-bot-box .header-bot-1 .botA {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: center;
  transition: all 0.3s linear;
}
body .header-bot-box .header-bot-1 .botA a {
  color: inherit;
}
body .header-bot-box .header-bot-1 .botA select {
  border: none;
  outline: none;
}
body .header-bot-box .header-bot-2 {
  display: flex;
  gap: 30px;
  padding: 20px 0;
}
body .header-bot-box .header-bot-2 span {
  display: flex;
  gap: 10px;
  align-items: center;
}
body .row-hero {
  border: 1px solid gray;
}
body .hero-box {
  margin-top: 20px;
}
body .hero-box h4 span {
  color: gray;
}
body .hero-box h1 {
  margin: 40px 0 60px 0;
}
body .hero-box h1 span {
  font-size: 16px;
  color: gray;
  font-weight: 200px;
}
body .phone-card {
  border-radius: 20px 20px 0 0;
  max-width: 300px;
  height: 300px;
  background-color: rgb(206, 214, 225);
  padding: 20px;
}
body .phone-card .xchild {
  display: flex;
  align-items: center;
  gap: 110px;
}
body .phone-card .xchild p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body .phone-card .xchild button {
  background-color: rgb(255, 255, 255);
  padding: 8px 10px;
  border: none;
  outline: none;
}
body .phone-card .phone-S24 img {
  width: 250px;
  height: 200px;
}
body .phone-card-bot {
  border: 1px solid gray;
  width: 300px;
  border-radius: 0 0 20px 20px;
}
body .phone-card-bot h4 {
  margin: 10px 0 10px 10px;
}
body .phone-card-bot p {
  margin-left: 10px;
}
body .phone-card-bot h3 {
  margin: 10px 0 10px 10px;
}
body .phone-card-bot h3 span {
  color: gray;
  margin-left: 10px;
  text-decoration: line-through;
}
body .censor-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 90px;
  flex-wrap: wrap;
}
body .censor-text h4 p {
  max-width: 560px;
  height: 96px;
  top: 1970px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
  color: gray;
  margin: 24px 0 0 0;
}
body .censor-text p {
  max-width: 510px;
  height: 96px;
  top: 1970px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
  color: gray;
  line-height: 30px;
}
body .censor-text .censor-padd {
  margin-top: -50px;
}
body .censor-text .censor-text-child {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
body .censor-text .censor-text-child p {
  display: flex;
  align-items: center;
  gap: 20px;
}
body .pro-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 90px;
  gap: 70px;
}
body .pro-box .pro-text p {
  max-width: 510px;
  left: 735px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #454F5B;
  margin: 10px 0;
}
body .integer {
  background: #F2F8FF;
  margin-top: 80px;
}
body .integer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .integer-box h1 {
  font-size: 44px;
  font-weight: 600;
  line-height: 62px;
  text-align: left;
  margin: 64px 0 24px 0;
}
body .integer-box p {
  max-width: 518px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
body .integer-box .integer-btn {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 24px 0 56px 0;
}
body .integer-box .integer-btn button {
  width: 240px;
  height: 50px;
  background: rgba(22, 28, 36, 0.0392156863);
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  padding: 5px 0 0 20px;
}
body .integer-box .integer-btn button:hover {
  background: rgb(63, 63, 224);
  color: white;
  transition: 0.4s linear;
}
body footer {
  background: #0D2436;
}
body footer .footer-box {
  display: flex;
  justify-content: center;
  gap: 140px;
  color: white;
  padding: 64px 0 50px 0;
  flex-wrap: wrap;
}
body .footer-img .footer-img-child {
  margin-top: 140px;
}
body .footer-text h3 {
  margin-bottom: 24px;
}
body .footer-text p {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
}
body .footer-text pre {
  line-height: 30px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
}
body .footer-text h5 {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
}
body .footer-bot {
  background: #0D2436;
}
body .footer-bot .chiziq {
  border: 1px solid gray;
}
body .footer-bot .email-text {
  padding: 20px 0 20px 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 200;
  line-height: 16.71px;
  text-align: left;
}

@media (max-width: 1234px) {
  .censor-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .censor-box .censor-door {
    padding: 20px !important;
  }
}
@media (max-width: 900px) {
  .header-top-lastChild {
    display: none;
    margin-left: -300px;
  }
  .header-bot-box .header-bot-1 .botA {
    transform: translate(-100%, 110px);
  }
  .header-bot-box .header-bot-1 .google {
    transform: translate(0%, 110px);
  }
  .header-top-nextChild {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .menu {
    display: block;
    background: transparent;
    border: none;
  }
  .botA {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(225, 230, 238);
    top: 0px;
    left: -1240;
    right: 0;
    transition: 0.5s ease;
    width: 100%;
    transform: translateX(0%);
    transform-origin: left;
    height: 400px;
  }
  .botA select {
    background: transparent;
  }
}
@media (max-width: 700px) {
  .censor-door img {
    max-width: 500px;
    height: 500px;
  }
  .pro-img img {
    max-width: 500px;
    height: 500px;
  }
}
@media (max-width: 550px) {
  .header-top-nextChild h4 {
    font-size: 10px;
  }
  .header-bot-2 {
    display: none !important;
  }
  .header-bot-box {
    margin-top: 20px;
  }
  .censor-door img {
    max-width: 300px;
    height: 300px;
  }
  .pro-img img {
    max-width: 300px;
    height: 300px;
  }
}/*# sourceMappingURL=style.css.map */