@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    scroll-behavior: smooth;


}
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;

}


.menu {
    display: none;
}

body {
    font-family: sans-serif;
    .header-top {
        background: rgb(60, 58, 58);
        color: white;
        .header-top-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
        }

    }
    .header-bot-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
       
       .header-bot-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        .botA {
            // padding: 20px 20px;
            display: flex;
            // flex-direction: column ;
            align-items: center;
            gap: 32px;
            justify-content: center;
            transition: all .3s  linear;
            // position: fixed;
            // top: 70px;
            // right: 300px;
            // left: 0;

            a {
                color: inherit;
            }
            select {
                border: none;
                outline: none;
            }

        }
       }

       .header-bot-2 {
        display: flex;
        gap: 30px;
        padding: 20px 0;
        span {
            display: flex;
            gap: 10px;
            align-items: center;
            // margin-right: 200px;
        }
       }
    }

    .row-hero {
        border: 1px solid gray;
    }

    .hero-box {
        margin-top: 20px;
        h4 {
            span {
                color: gray;
            }
        }
        h1 {
            margin: 40px 0 60px 0;
            span {
                font-size: 16px;
                color: gray;
                font-weight: 200px;
            }
        }
    }

    .phone-card {
        border-radius: 20px 20px  0 0;
        max-width: 300px;
        height: 300px;
        // width: 100%;
        background-color: rgb(206, 214, 225);
        padding: 20px;
        .xchild {
            display: flex;
            align-items: center;
            gap: 110px;
            p {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
            button {
                background-color: rgb(255, 255, 255);
                padding: 8px 10px;
                border: none;
                outline: none;
            }
        }
        .phone-S24 {
            img {
                width: 250px;
                height: 200px;
            }
        }
    }

    .phone-card-bot {
        border: 1px solid gray;
        width: 300px;
        border-radius: 0 0 20px 20px;
        h4 {
            margin: 10px 0 10px 10px;
        }
        p {
            margin-left: 10px;
        }
        h3 {
            margin: 10px 0 10px 10px;
            span {
                color: gray;
                margin-left: 10px;
                text-decoration: line-through;
            }
        }
    }


    .censor-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 90px;
        flex-wrap: wrap;

    }

    .censor-text {
        h4 {
            p {
                max-width: 560px;
                height: 96px;
                top: 1970px;
                left: 100px;
                gap: 0px;
                opacity: 0px;
                color: gray;
                margin: 24px 0 0 0;

            }
        }
        p {
            max-width: 510px;
            height: 96px;
            top: 1970px;
            left: 100px;
            gap: 0px;
            opacity: 0px;
            color: gray;
            line-height: 30px;

        }
        .censor-padd {
            margin-top: -50px;
        }
        .censor-text-child{
            display: flex;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
            p {
                display: flex;
                align-items: center;
                gap: 20px;
            }
        }
    }

    .pro-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 90px;
        gap: 70px;
        .pro-text {
            p {
                max-width: 510px;
                left: 735px;
                font-size: 16px;
                font-weight: 400;
                line-height: 32px;
                text-align: left;
                color: #454F5B;
                margin: 10px 0;
            }
        }
    }

    .integer {
        background: #F2F8FF;
        margin-top: 80px;

    }

    .integer-box {
        display: flex;
        flex-direction: column;
        //  justify-content: center;
         align-items: center;
        h1 {
        font-size: 44px;
        font-weight: 600;
        line-height: 62px;
        text-align: left;
        margin: 64px 0 24px 0;

        }
        p {
            max-width: 518px;
            height: 52px;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: center;

        }
        .integer-btn {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            margin: 24px 0 56px 0;
            button {
                width: 240px;
                height: 50px;
                background: #161C240A;
                border: none;
                outline: none;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                text-align: left;
                padding: 5px 0 0 20px;

            }
            button:hover {
                background: rgb(63, 63, 224);
                color: white;
                transition: .4s linear;
            }

        }
    }

    footer {
        background: #0D2436;
        
        .footer-box {
            display: flex;
            justify-content: center;
            gap: 140px;
            color: white;
            padding: 64px 0 50px 0;
            flex-wrap: wrap;
        }
    }

    .footer-img {
        .footer-img-child {
            margin-top: 140px;
        }
    }

    .footer-text {
        h3 {
            margin-bottom: 24px;
        }
        p {
            margin-top: 15px;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            text-align: left;

        }

        pre {
            line-height: 30px;
            margin-top: 15px;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            text-align: left;

        }
        h5 {
            margin-top: 15px;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            text-align: left;

        }

    }

    .footer-bot {
        background: #0D2436;

        .chiziq {
            border: 1px solid gray;
        }
        .email-text {
            padding: 20px 0 20px 0;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: 200;
            line-height: 16.71px;
            text-align: left;

        }

    }

    
}





@media(max-width: 1234px){
    .censor-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .censor-door {
            padding: 20px !important;
        }
    }
}


@media(max-width: 900px){
    .header-top-lastChild {
        display: none;
        // text-align: center !important;
        margin-left: -300px;
    }

    .header-bot-box {
        .header-bot-1{
            .botA {
                // display: none !important;
                transform: translate(-100%, 110px);
                
            }
            .google {
                transform: translate(0%, 110px);
                
                // display: block !important;
            }
            

        }
    }

    .header-top-nextChild {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .menu {
        display: block;
        background: transparent;
        border: none;
        
    }
    .botA {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgb(225, 230, 238);
        // background: rgb(229, 235, 238);
        top: 0px;
        left: -1240;
        right: 0;
        transition: .5s ease;
        width: 100%;
        transform: translateX(0%);
        transform-origin: left;
        height: 400px;
        select {
            background: transparent;
        }
        
    }
    

}


@media(max-width: 700px){
    .censor-door {
        img {
            max-width: 500px;
            height: 500px;
        }
    }
    .pro-img {
        img {
            max-width: 500px;
            height: 500px;
        }
    }
}


@media(max-width: 550px){
    .header-top-nextChild {
        h4 {
            font-size: 10px;
        }
    }
    .header-bot-2 {
            display: none !important;
        
    }

    .header-bot-box {
        margin-top: 20px;
    }

    .censor-door {
        img {
            max-width: 300px;
            height: 300px;
        }
    }
    .pro-img {
        img {
            max-width: 300px;
            height: 300px;
        }
    }
}